<dropdown items="recentTextures" apply-custom="setCustomTexture" on-item-click="setTexture">
    <dropdown-display>
        <dds class="checkerboard-bg" texture-path="texture"></dds>
    </dropdown-display>
    <dropdown-item>
        {{::$parent.item.filePath}}
    </dropdown-item>
    <custom-item>Other...</custom-item>
    <custom-select>
        <autocomplete-input selected-item="customItem" search="textureSearch">
            {{::$parent.result.filePath}}
        </autocomplete-input>
    </custom-select>
</dropdown>