<h2>Edit Weather - Clouds
    <div class="path">{{::path}}</div>
</h2>

<h3>Cloud Layers
    <dropdown class="buttonbox nowrap by-header" items="disabledLayers" on-item-click="addLayer" max-height="300">
        <dropdown-display>
            <button class="action-btn positive small">Add Layer</button>
        </dropdown-display>
        <dropdown-item>Layer {{::$parent.item.index}}</dropdown-item>
    </dropdown>
</h3>
<section class="cloud-layers">
    <div class="cloud-layer" ng-repeat="layer in cloudLayers">
        <div>
            <div class="layer-name">Layer {{::layer.index}}</div>
            <label class="layer-speed" ng-if="::layer.speed.x">
                <span>X Speed</span>
                <input type="text" ng-model="layer.speed.x" />
            </label>
            <label class="layer-speed" ng-if="::layer.speed.y">
                <span>Y Speed</span>
                <input type="text" ng-model="layer.speed.y" />
            </label>
            <label class="layer-speed" ng-if="::!layer.speed.x">
                <span>Speed</span>
                <input type="text" ng-model="layer.speed" />
            </label>
        </div>
        <div>
            <texture-selector texture="layer.texture" key="textures/sky"></texture-selector>
        </div>
        <div class="colors" ng-if="::layer.colors">
            <div>
                <span class="color-label">Sunrise</span>
                <color-selector color="layer.colors.sunrise" key="colors/weather"></color-selector>
                <alpha-input color="layer.colors.sunrise"></alpha-input>
            </div>
            <div>
                <span class="color-label">Day</span>
                <color-selector color="layer.colors.day" key="colors/weather"></color-selector>
                <alpha-input color="layer.colors.day"></alpha-input>
            </div>
            <div>
                <span class="color-label">Sunset</span>
                <color-selector color="layer.colors.sunset" key="colors/weather"></color-selector>
                <alpha-input color="layer.colors.sunset"></alpha-input>
            </div>
            <div>
                <span class="color-label">Night</span>
                <color-selector color="layer.colors.night" key="colors/weather"></color-selector>
                <alpha-input color="layer.colors.night"></alpha-input>
            </div>
        </div>
        <div>
            <div class="remove-item" title="Disable cloud layer" ng-click="disableLayer($index)"></div>
        </div>
    </div>
</section>