<h2>Edit Weather - Colors
    <div class="path">{{::path}}</div>
</h2>

<table>
    <thead>
    <tr>
        <th></th>
        <th>Sunrise</th>
        <th>Day</th>
        <th>Sunset</th>
        <th>Night</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="group in colorGroups">
        <td>{{::group.label}}</td>
        <td>
            <color-selector color="group.Sunrise" key="weather/colors"></color-selector>
        </td>
        <td>
            <color-selector color="group.Day" key="weather/colors"></color-selector>
        </td>
        <td>
            <color-selector color="group.Sunset" key="weather/colors"></color-selector>
        </td>
        <td>
            <color-selector color="group.Night" key="weather/colors"></color-selector>
        </td>
    </tr>
    </tbody>
</table>