<h2>Edit Weather - Directional Ambient Lighting Colors
    <div class="path">{{::path}}</div>
</h2>

<table>
    <thead>
    <tr>
        <th></th>
        <th>Sunrise</th>
        <th>Day</th>
        <th>Sunset</th>
        <th>Night</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in dalc">
        <td>{{::item.path}}</td>
        <td>
            <color-selector color="item.Sunrise"></color-selector>
        </td>
        <td>
            <color-selector color="item.Day"></color-selector>
        </td>
        <td>
            <color-selector color="item.Sunset"></color-selector>
        </td>
        <td>
            <color-selector color="item.Night"></color-selector>
        </td>
    </tr>
    </tbody>
</table>